@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,600|Raleway:300,400&display=swap');

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 50px;
	color: white;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: white;
}